@import "./partials/mixins";
@import "./partials/reset";
@import "./partials/variables";

/* Component: RMRadio */
#rm-radio-field
{
  @import "../../node_modules/swiper/swiper";
  @import "../../node_modules/swiper/components/effect-fade/effect-fade";
  @import "../../node_modules/swiper/components/lazy/lazy";
  @import "../../node_modules/bootstrap/scss/bootstrap";

  margin: 20px 0;
  outline: 1px solid $rm_dark_color;

  /* Component: RMRadioName */
  #rm-radio-name-field
  {
    background-color: $rm_blue_color;
    padding: 0.5rem;

    span
    {
      @include rm-text( #FFF, 1.75rem, bold, center );

      display: block;
      cursor: default;
    }
  }
  
  /* Component: RMRadioMultimedia */
  #rm-radio-multimedia-field
  {
    @include rm-flex( column, center, center );
    
    overflow: hidden;
    background-color: $rm_blue_color;
    outline: 1px solid $rm_dark_color;
    cursor: default;
    
    /* Component: RMPreloader */
    #rm-preloader-field
    {
      position: absolute;
      z-index: 0;
      
      #rm-preloader
      {
        @extend .swiper-lazy-preloader;
        @extend .swiper-lazy-preloader-white;
      }
    }

    /* Component: RMCaption */
    .rm-caption-field
    {
      @include rm-text( #FFF, 1rem, normal, center );

      background-color: $rm_caption_color;
      outline: 1px solid $rm_dark_color;
      padding: 0.25rem;
      width: 100%;
    }

    /* Component: RMPlayer, RMSlider, RMLogo */
    img, video
    {
      position: relative;
      z-index: 1;
      outline: 1px solid $rm_dark_color;
      max-width: 100%;
      flex: none;
    }
    
    video
    {
      width: 100%;
    }
    
    /* Component: RMSlider */
    #rm-slider
    {
      width: 100%;
      max-width: 100%;
      flex: none;

      .rm-slide
      {
        @include rm-flex( column, center, center );
      }
    }

    /* Component: RMPost */
    #rm-post-field
    {
      position: relative;
      z-index: 1;
      background-color: #FFF;
      width: 100%;
      max-height: 27.5rem;
      overflow: auto;
      padding: 0 0.5rem;

      button
      {
        margin: 0.5rem 0;
      }

      #rm-post
      {
        p
        {
          display: block;
        }
      }
    }
  }
  
  /* Component: RMRadioPlayer */
  #rm-radio-player-field
  {
    @extend .d-flex;
    @extend .row;
    @extend .align-items-center;
    @extend .no-gutters;  
  
    background-color: $rm_blue_color;
    border-top: 1px solid $rm_dark_color;

    /* Component: RMIconField */
    #rm-icon-field
    {
      @extend .col-lg-4;
      @extend .d-flex;
      @extend .justify-content-center;
      
      .rm-icon
      {
        background-color: $rm_red_color;
        outline: 1px solid $rm_dark_color;
        padding: 0.9rem;
        cursor: pointer;
      }
    }

    /* Component: RMInfoField */
    #rm-info-wrapper
    {
      @extend .col-lg-8;
    
      padding: 0.5rem 0;

      #rm-info-field
      {
        @extend .d-flex;
        @extend .row;
        @extend .no-gutters;
        
        /* Component: RMInfo */
        .rm-info
        {
          @extend .d-flex;
          @extend .justify-content-center;
          @extend .align-items-center;
          @extend .col-md;
        
          @include rm-text( #FFF, 1rem, normal, center );
        
          cursor: default;
          padding: 0 0.5rem;

          .rm-info-content
          {
            font-weight: bold;
          }
        }
        
        .rm-no-info
        {
          @extend .col-md;
        }
      }
    }
    
    #rm-no-info-wrapper
    {
      @extend .col-lg-8;
    }
  }
}
