@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/reset";


#rm-musician-name-field,
#rm-record-name-field
{
  margin: 5px 0;
}

#rm-musician-name-label,
#rm-record-name-label
{
  font-weight: normal;
  font-size: 15px;
}

#rm-musician-name,
#rm-record-name
{
  font-size: 20px;
}

.rm-flex {
  display: flex;
  justify-content: space-between;
}

#rm-left-icon, #rm-right-icon
{
  display: block;
  width: 60px;
}

/* RMRadioStationHTML */
#rm-radio {
  /* RMNameHTML */
  #rm-radio-name-field {
    background-color: $rm_blue_color;
    outline: 1px solid $rm_dark_color;
    padding: 0.5rem;

    #rm-radio-name {
      @include rm-text( #FFF, 25px, bold, center );
      display: block;
      cursor: default;
    }
  }
  /* RMMultimediaHTML */
  /* RMPlayerHTML */
} /* RM RADIO STATION */



#rm-radio-player-field
{
  display: flex;
  justify-content: space-between;
}


/* Identificators */
#rm-musician-multimedia-field {
  @include rm-flex;
  position: relative;
  flex-direction: column;

  img {
    display: block;
    max-width: 100%;
    cursor: pointer;
    outline: 1px solid $rm_dark_color;
  }
}

#rm-middle-field
{
    @include rm-flex;
    
    flex-direction: column;
    margin: 10px;
}

#rm-left-field,
#rm-right-field,
{
    @include rm-flex;
    
    cursor: pointer;
    
    &:hover
    {
        background: $rm_red_color;
    }
}

#rm-musician-description-field
{
    position: relative;
    height: 6em;
    overflow: hidden;
	
	p
	{
		display: block;
	}
}

#rm-musician-description-gradient
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(58,59,60,1) 1%, rgba(255,255,255,0) 100%);
}

#rm-musician-description
{
    cursor: default;
}
