@import "variables";
@import "mixins";
@import "reset";

/* The border for all the radio station parts. */
.rm-brd
{
    border: 1px solid $rm_dark_color;
    border-top: none;
    
    &:first-child
    {
        border: 1px solid $rm_dark_color;
    }
}

.rm-padding
{
	padding: 0.5rem;
}

.rm-center
{
	text-align: center;
}

/* The background for all the radio station main parts. */
.rm-bg-primary
{
    background-color: $rm_blue_color;
}

/* The background for the musician description. */
.rm-bg-secondary
{
    background-color: $rm_light_color;
}

.rm-title-level1
{
    color: #FFF;
    cursor: default;
    font-weight: bold;
    font-size: 25px;
}

.rm-title-level2
{
    @extend .rm-title-level1;
    font-size: 20px;
}

.rm-title-level3
{
    @extend .rm-title-level2;
    font-weight: normal;
    font-size: 15px;
}

.rm-flex
{
    display: flex;
    justify-content: space-between;
}

.rm-icons
{
    display: block;
    width: 60px;
}

#rm-musician-image-field
{
    @include rm-flex;
    
    flex-direction: column;
    background: $rm_dark_color;
    
    img
    {
        display: block;
        max-width: 100%;
		cursor: pointer;
    }
}

#rm-middle-field
{
    @include rm-flex;
    
    flex-direction: column;
    margin: 10px;
}

#rm-left-field,
#rm-right-field,
{
    @include rm-flex;
    
    cursor: pointer;
    
    &:hover
    {
        background: $rm_red_color;
    }
}

#rm-musician-description-field
{
    position: relative;
    height: 6em;
    overflow: hidden;
}

#rm-musician-description-gradient
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(248,248,248,1) 15%, rgba(255,0,0,0) 100%);
}

#rm-musician-description
{
    cursor: default;
}
