@import './variables';
@import './mixins';

/* The border for all the parts of the radio station. */
.rm-brd
{
    border: 1px solid $rm_dark_color;
    border-bottom: none;
    
    &:last-child
    {
        border: 1px solid $rm_dark_color;
    }
}

/* The background for all the main parts of the radio station. */
.rm-bg-primary
{
    background-color: $rm_blue_color;
}

/* The background for the musician description. */
.rm-bg-secondary
{
    background-color: #F8F8F8;
}

.rm-title-level1
{
    color: #FFF;
    
    cursor: default;
    font-weight: bold;
    font-size: 25px;
}

.rm-title-level2
{
    @extend .rm-title-level1;
    font-size: 20px;
}

.rm-title-level3
{
    @extend .rm-title-level2;
    font-weight: normal;
    font-size: 15px;
}

.rm-flex
{
    display: flex;
    justify-content: space-between;
}

.rm-icons
{
    display: block;
    width: 60px;
}

#rm-musician-image-field
{
    @include rm-flex;
    
    background: $rm_dark_color;
    
    img
    {
        display: block;
        max-width: 100%;
    }
}

#rm-musician-image
{
    cursor: pointer;
}

#rm-middle-field
{
    @include rm-flex;
    
    flex-direction: column;
    margin: 10px;
}

#rm-left-field,
#rm-right-field,
{
    @include rm-flex;
    
    cursor: pointer;
    
    &:hover
    {
        background: $rm_red_color;
    }
}

#rm-musician-description
{
    cursor: default;
}
